<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SnapURL</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        header {
            background-color: rgb(75, 63, 107);
            color: #fff;
            padding: 20px;
        }

        header img {
            max-width: 100px;
            margin: 0 auto;
            display: block;
        }

        h1 {
            color: #333;
        }

        h3 {
            color: #777;
        }

        footer {
            background-color: rgb(75, 63, 107);
            color: #fff;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <img src="https://app.snapurl.in/logo.png" alt="SnapURL">
        </header>
        <h1>Welcome to SnapURL, <%= name %>!</h1>
        <h3>Your URL Shortening Platform 🚀</h3>
        <p>
            Thank you for joining SnapURL. We're thrilled to have you on board. Get started now by shortening your URLs
            and managing your links with ease.
        </p>
        <p>
            To complete your registration, please verify your email address by clicking the following link:
            <a href="<%= verificationLink %>" style="color: #4CAF50;">Verify
                Email</a>
        </p>
    </div>
    <footer>
        &copy; <%= new Date().getFullYear() %> SnapURL. All rights reserved.
    </footer>
</body>

</html>