<%- include("common") %>
<link href="/public/style2.css" rel="stylesheet" type="text/css"/>
<body>
<!-- Header start -->
<%- include("header") %>
<!-- Header end -->

<!-- Change Password -->
<div class="container-fluid" id="cont1">
    <div class="row row_style">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div style="text-align: center;">
                        <h3>Change Password</h3>
                    </div>

                    <form action="/auth/changePassword" method="post">
                        <div class="form-group">
                            <label for="oldPassword"> Old Password:</label>
                            <input type="password" class="form-control" placeholder="Old Password" name="oldPassword"
                                   required pattern=".{6,}">
                        </div>
                        <div class="form-group">
                            <label for="newPassword"> New Password: </label>
                            <input type="password" class="form-control" placeholder="New Password (Min. 6 characters)"
                                   name="newPassword" required pattern=".{6,}">
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPassword"> Confirm New Password : </label>
                            <input type="password" class="form-control" placeholder="Re-type New password"
                                   name="confirmNewPassword" required pattern=".{6,}">
                        </div>

                        <button type="submit" class=" btn btn-primary btn-lg btn-block "> Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Change Password -->

<%- include("footer") %>