<footer>
    <div class="container">
        <div style="text-align: center;">
            <p>By <a href="https://dhananjaythomble.me/">Dhananjay Thomble</a></p>
        </div>
    </div>
</footer>
</body>
</html>