
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">URL Shortener</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <% if( process.env.IS_LOGGED_IN === "true") { %>
                    <li><a href="/history"><span class="glyphicon glyphicon-time"></span> History </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                    <li><a href="/auth/changePassword"><span class="glyphicon glyphicon-cog"></span> Change Password</a></li>
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                <% } %>

            </ul>
        </div>
    </div>
</div>