<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
    <!-- add favicon -->
    <link rel="icon" href="./public/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>Paste the URL to be shortened</legend>
        
            <input
              id="url_input"
              type="url"
              name="url"
              placeholder="Enter The Link Here..."
              required
            />
            <input type="submit" value="POST URL" id="btn"/>
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://dhananjaythomble.me/">Dhananjay Thomble</a></p>
    </footer>
  </body>
</html>