<%- include("common") %>
<body>
<%- include("header") %>
<div class="container">
    <section>
        <form action="/" method="POST" class="form-horizontal">
            <fieldset>
                <legend class="text-center">Paste the URL to be shortened</legend>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input
                                id="url_input"
                                type="url"
                                name="url"
                                placeholder="Enter The Link Here..."
                                class="form-control"
                                required
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <input type="submit" value="POST URL" id="btn" class="btn btn-danger"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>


<%- include("footer") %>
