<%- include("common") %>
<link href="/public/style.css" rel="stylesheet" type="text/css"/>
<body>
<%- include("header") %>
<main>
    <section>
        <form action="/" method="POST">
            <fieldset>
                <legend>Paste the URL to be shortened</legend>

                <input
                        id="url_input"
                        type="url"
                        name="url"
                        placeholder="Enter The Link Here..."
                        required
                />
                <input type="submit" value="POST URL" id="btn"/>
            </fieldset>
        </form>
    </section>
</main>

<%- include("footer") %>
