<%- include("common") %>
<body>
<%- include("header") %>

<div class="container-fluid" id="cont1">
    <div class="row row_style">
        <div class="col-lg-6">
            <div class="panel panel-info panel1">
                <div class="panel-heading" id="">
                    <div style="text-align: center;">
                        <h3 class="fancyHeading">Sign up</h3>
                    </div>
                </div>
                <div class="panel-body bg-info" id="">
                    <form class="form" action="/auth/signup" method="POST">

                        <div class="form-group">
                            <label for="name"> Name:</label>
                            <input class="form-control" type="text" placeholder="Enter Name" name="name" required
                                   pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$"
                                   oninvalid="setCustomValidity('Please enter the name')"
                                   oninput="setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <label for="email"> Email: </label>
                            <input type="email" class="form-control" placeholder="Enter valid email" name="email"
                                   required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                   oninvalid="setCustomValidity('Please enter the valid email')"
                                   oninput="setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"> Password: </label>
                            <input type="password" class="form-control" placeholder="Enter Password (min. 6 characters)"
                                   name="password" required pattern=".{6,}"
                                   oninvalid="setCustomValidity('Please enter the minimum 6 characters')"
                                   oninput="setCustomValidity('')">

                        </div>

                        <div class="form-group">
                            <label for="phoneNumber"> Confirm Password: </label>
                            <input type="password" class="form-control" placeholder="Re-Enter The Password"
                                   name="re_password" required pattern=".{6,}"
                                   oninvalid="setCustomValidity('Passwords Must be same')"
                                   oninput="setCustomValidity('')">
                        </div>

                        <button type="submit" class=" btn btn-info btn-lg btn-block">SIGN UP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer") %>