@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@media only screen and (max-width: 600px) {
    .panel {
        width: 300px;
        /* padding: 5px; */
    }
    #giveMarginTop {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 800px) {
    .panel {
        width: 450px;
        /* padding: 10px; */
    }
    .panel-body {
        /* padding: 15%; */
    }
    #lgPanel {
        padding: 20px;
        width: 550px;
    }
    .panelViewPlan {
        width: auto;
    }
}

#lgPanel {
    min-width: 300px;
}

#plansPanel {
    /* margin-top: 50px; */
    width: initial;
    padding: initial;
}

#noPanelBody {
    padding: initial;
}

.right {
    float: right;
}

.text-right {
    float: right;
}

.plusIcon {
    color: green;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#submit {
    border-color: rgba(0, 136, 122);
    color: rgba(0, 136, 122);
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script:wght@500&family=Jomhuria&family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script:wght@500;600&family=Jomhuria&family=Qahiri&display=swap');
#afterHeader {
    padding-top: 100px;
}

#titlePlan {
    color: deepskyblue;
    font-size: 2.5 rem;
}

.noUnderline:hover {
    text-decoration: none;
}

.btnNewPlan:hover {
    background-color: rgb(0, 143, 179);
    color: white;
}

.btnNewPlan {
    background-color: rgb(153, 235, 255);
    color: black;
    border-color: rgb(0, 143, 179);
}

.btn1:hover {
    background-color: #F7CD2E;
    color: white;
}

.btn1 {
    background-color: #EDBF69;
    color: black;
    border-color: #F7CD2E;
}

#panelNewPlan {
    background-color: rgb(153, 235, 255);
    color: black;
}

#panelBackground {
    background-color: rgb(204, 245, 255);
}


/*  */

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/12.jpeg) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    font-family: 'Lobster', cursive;
}

.fancyHeading {
    font-family: 'Lobster', cursive;
}

.panel1 {
    border-color: skyblue;
    padding: 5px;
}

.panel:hover {
    border-color: rgb(0, 225, 255);
}

.panel button {
    font-family: 'Cormorant Garamond', serif;
}

.panel a:hover {
    color: blue;
}

#cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
}

.row_style {
    margin-top: 86px;
}

.container-fluid {
    padding: 3% 15%;
}

.row {
    margin-top: 80px;
}


/*navbar-brand  */

.navbar-brand {
    font-size: 2.5 rem;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.nav-link {
    font-size: 2.5 rem;
    font-weight: bold;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer {
        text-align: left;
    }
}


/*----------------------------- Footer --------------------------------------- */

footer {
    background-color: #101010;
    color: #9d9d9d;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 30px;
    /* Vertically center the text there */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


/*----------------------------- End Footer --------------------------------------- */


/* ------------------------------------------------View Plan --------------------------------*/

#myButton {
    position: absolute;
    top: 25px;
    right: 5px;
    margin-right: 50px;
}

#stickToRight {
    /* position: absolute; */
    right: 0px;
    margin-bottom: 50px;
}


/* ------------------------------------------------View Plan --------------------------------*/