@media only screen and (max-width: 600px) {
    .panel {
        width: 300px;
        /* padding: 5px; */
    }

    #giveMarginTop {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 800px) {
    .panel {
        width: 450px;
        /* padding: 10px; */
    }

    .panel-body {
        /* padding: 15%; */
    }

    #lgPanel {
        padding: 20px;
        width: 550px;
    }

    .panelViewPlan {
        width: auto;
    }
}

.noUnderline:hover {
    text-decoration: none;
}

.panel1 {
    border-color: skyblue;
    padding: 5px;
}

/* add shadow effect */
.panel1:hover {
    box-shadow: 0 0 10px rgb(0, 225, 255);
}


.panel a:hover {
    color: blue;
}

#cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: large;
}


.container-fluid {
    padding: 3% 15%;
}

.row {
    margin-top: 80px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 2.5rem;
    font-weight: bold;
}


/*----------------------------- Footer --------------------------------------- */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    font-size: 20px;
    position: relative;
    color: #222;
}

footer p.name {
    font-size: 20px;
    font-weight: bold;
}


/*----------------------------- End Footer --------------------------------------- */


section {
    margin-top: 100px;
}

legend {
    font-size: 30px;
    font-weight: bolder;
    color: #202020;
    padding: 30px 0px;
    word-spacing: 2px;
}

